body {
  background-color: #e5e5e5;
  padding-top: 60px;
}
div.content {
  padding: 20px;
  background-color: #f1f1f1;
  min-height: 300px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
div.product {
  min-height: 200px;
}
div.section {
  margin-bottom: 20px;
}
div.sidebar {
  padding-left: 15px;
  border-left: 1px solid #e5e5e5;
  min-height: 200px;
}
div.sidebar dl {
  margin-left: 5px;
}
.info {
  font-size: 24px;
  color: #c1c1c1;
}
.info-small {
  font-size: 16px;
  color: #a1a1a1;
}
div.footer {
  margin: 15px auto 0 auto;
  text-align: center;
}
div.product-link {
  margin: 10px 0 10px 0;
}
.icon-link { 
  position: relative;
  top: 6px;
}
div.sidebar-footer {
  position: relative;
  bottom: -5px;
  text-align: center;
}
